<li>
  <div class="content-left user">
    <%= image_tag user.image.to_s %>
  </div>
  <div>
    <%= link_to user.username, user %>
    <% if current_user?(user) %>
      <%= link_to "さくじょ", user_registration_path, method: :delete,
        data: { confirm: "ほんとに？" }, class: "btn btn-primary" %>
    <% end %>
  </div>
</li>