<li>
  <%= image_tag user.image, class:"img" %>
  <%= link_to user.username, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "すてる", user, method: :delete,
      data: { confirm: "そこまで　すてる　?" } %>
  <% end %>
</li>