<% if user_signed_in? %>
  <div class="container">
      
        <section class="user_info">
          <%= render 'users/user_info' %>
        </section><br>
        <div>
          <%= link_to "ふくをみる", current_user %>
        </div><br>
        <section class="micropost_form">
          <%= render 'microposts/micropost_form' %>
        </section>
  </div>
  
<% else %>
  <div class="container text-center">
    <h1>ミニマリストに　なろう！！</h1>
    <br></br>
    <h3>ふくを　ならべて</h3>
    <h3>しゃしんを　とって</h3>
    <h3>ぜんぶで　なんまい　あるか</h3>
    <h3>かくにん　してみよう！</h3>
    <br></br>
    <h3>いらない　ふくは</h3>
    <h3>どんどん　すてよう！</h3>
    <br></br>
    <h3>きみも　ミニマリストなら</h3>
    <h3>私服の制服化を　しよう！</h3>
    <br></br>
    <br></br>
    <%= link_to "めざす", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </div>
<% end %>