<% if user_signed_in? %>
  <div class="container">
    <div><%= render 'users/user_info' %></div>
    <div class="mb3"><%= link_to "ふくをみる", current_user, class: "btn btn-primary" %></div>
    <div><%= render 'microposts/micropost_form' %></div>
  </div>
  
<% else %>
  <div class="container text-center">
    <h1>ミニマリストに　なろう！！</h1>
    <br></br>
    <h3>ふくを　ならべて</h3>
    <h3>しゃしんを　とって</h3>
    <h3>ぜんぶで　なんまい　あるか</h3>
    <h3>かくにん　してみよう！</h3>
    <br></br>
    <h3>いらない　ふくは</h3>
    <h3>どんどん　すてよう！</h3>
    <br></br>
    <h3>きみも　ミニマリストなら</h3>
    <h3>私服の制服化を　しよう！</h3>
    <br></br>
    <br></br>
    <%= link_to "めざす", new_user_registration_path, class: "btn-xxl btn-primary" %>
  </div>
<% end %>