<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'users/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'microposts/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>とうこう</h3>
      <%= render 'microposts/feed' %>
    </div>
  </div>
  
<% else %>
  <h1>hukumiru（フクミル）!</h1>
  <br></br>
  <br></br>
  <h2>ふくを　ならべて</h2>
  <h2>しゃしんを　とって</h2>
  <h2>ぜんぶで　なんまい　あるか</h2>
  <h2>かくにん　してみよう！</h2>
  <br></br>
  <h2>いらない　ふくは</h2>
  <h2>どんどん　すてよう！</h2>
  <br></br>
  <br></br>
  <h2>きみも　「みにまりすと」なら</h2>
  <h2>「しふくのせいふくか」を　しよう！</h2>
  <br></br>
  <br></br>
<% end %>