<li>
  <div class="content-left thumbnail text-center">
    <%= image_tag micropost.picture.to_s, class: "img-rounded" %><br>
    <%= micropost.item_name %>
  </div>
  <div>
    <% if current_user?(micropost.user) %>
      <div class="btn btn-outline-info">
        <%= link_to "すてる", micropost, method: :delete,
          data: { confirm: "ほんとに？", cancel: "うそ", commit: "ほんと", title: "かくにん" } %>
          <!-- ↑未表示 -->
      </div>
    <% end %>
    <div class="content-right">
      <p class="micropost.time"><%= micropost.created_at.to_s(:datetime_base) %></p>
    </div>
  </div>
</li>