<li>
  <span class="thumbnail">
    <%= image_tag micropost.picture.url, class: "img-rounded" %>
    <%= micropost.content %>
  </span>
  <span>
    <% if current_user?(micropost.user) %>
      <%= link_to "すてる", micropost, method: :delete,
        data: { confirm: "ほんとに？" } %>
    <% end %>
  </span>
</li>