@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  color: #546E7A;
}

.field{
  padding-bottom: 20px;
}

/*section {
  overflow: auto;
}*/

/*textarea {
  resize: vertical;
}*/

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* 段落調整 */

.mb1{
   margin-bottom: 1em;
}

.mb2{
   margin-bottom: 2em;
}

.mb3{
   margin-bottom: 3em;
}

/* タグ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -2px;
  margin: 40px 0px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header{
  opacity: 0.7;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid gray;
}

/* デバッグ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* エラー */

/*#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}*/

/* users/index */

.users {
  margin: 0;
  li {
    overflow: auto;
    padding: 5px 0;
  }
}

/* users/showのmicroposts表示 */

.content-left{
  width: 250px;
  margin: 10px 20px;
  padding: 20px;
  height: 220px;
  float: left;
}

/* 新規登録ボタン */

.btn-xxl {
  padding: 20px 26px;
  font-size: 35px;
  border-radius: 8px;
}

/* 写真投稿ボタン */

.btn {
border: 1px solid gray;
color: gray;
background-color: white;
padding: 8px 20px;
border-radius: 8px;
font-size: 15px;
font-weight: bold;
margin-bottom: 20px;
}

.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

/*　「ファイルを選択」ボタン */
.upload-btn-wrapper input[type=file] {
font-size: 20px;
position: absolute;
left: 0;
top: 0;
bottom: 10px;
opacity: 0;
}

/*　alert/danger */

.alert {
	text-align: center;
}

.alert-info {
    background-color: #bde9ff;
    border-color: #bde9ff;
    color: #4c6977;
}
 
.alert-danger {
    background-color: #f3c0c0;
    border-color: #f3c0c0;
    color: #3e3a3a;
}