@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

@font-face{
font-family:'HuiFontP109';
src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot');
src:url('https://dl.dropboxusercontent.com/s/6snqvg654tirsyv/HuiFontP109.eot?#iefix') format('embedded-opentype'),
url('https://dl.dropboxusercontent.com/s/7pscemjdvt0wyiq/HuiFontP109.woff') format('woff'),
url('https://dl.dropboxusercontent.com/s/0w9uuopxrns8ehi/HuiFontP109.ttf') format('truetype'),
url('https://dl.dropboxusercontent.com/s/xnnsbxtz8o6d98i/HuiFontP109.svg#HuiFontP109') format('svg');
}

body,input,textarea{
  font-family:'HuiFontP109';font-size:16px;
}

body {
  padding-top: 0px;
  color: #546E7A;
}

a {
  text-decoration: none;
}

.field{
  padding-bottom: 20px;
}

.user_info{
  margin: 100px;
}


/* 段落調整 */

.mb2{
   margin-bottom: 2em;
}

.mb3{
   margin-bottom: 3em;
}


/* タグ */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  padding: 300px 0px 350px 0px;
}

h2 {
  font-size: 2.0em;
  letter-spacing: -2px;
  margin: 100px 0px;
  font-weight: normal;
  color: gray;
}

h3 {
  font-size: 1.8em;
  letter-spacing: -2px;
  margin: 20px 0px;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header{
  opacity: 0.9;
  font-weight: bold;
}

#logo {
  font-size: 2.2em;
  text-transform: uppercase;
  letter-spacing: 10px;
  &:hover {
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid gray;
}


/* トップページ */

.top-wrapper {
  height: 1500px;
  color: #fff;
  position: relative;
}

.bg{
  width: 100%;
  height: 46%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("background_image.jpg");
  background-size: cover;
}
  

/* ボタン */

.btn {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-xl {
  padding: 20px 100px;
  font-size: 35px;
  border-radius: 8px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 10px;
  opacity: 0;
}


/* エラー */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    list-style: none;
  }
}


/* users/index */

.users{
  margin: 0;
  li {
    overflow: auto;
  }
}

.user { 
  width: 220px;
  padding: 20px;
  margin-left: 30px;
  height: 270px;
  float: left;
}

.username {
  font-size: 20px;
}


/* users/showのmicroposts表示 */

.microposts {
  margin: 0;
  li {
    overflow: auto;
  }
}

.micropost {
  width: 300px;
  padding: 20px;
  height: 450px;
  float: left;
}

.heart-color{
  color: fuchsia;
}


/*　alert/danger */

.alert {
	text-align: center;
	margin-top: 28px;
}

.alert-info {
  background-color: #bde9ff;
  border-color: #bde9ff;
  color: #4c6977;
}
 
.alert-danger {
  background-color: #f3c0c0;
  border-color: #f3c0c0;
  color: #3e3a3a;
}


/* フォロー */

.stats a {
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
}