<footer class="footer">
  <small>
    hukumiru by <a href="https://mobile.twitter.com/minimaldisciple">わん</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>