<% @user ||= current_user %>

<div class="row stats mb3">
  <%= link_to following_user_path(@user), class: "col-6" do %>
    <strong id="following">
      <%= @user.following.count %>
    </strong>
    ふぉろー
  <% end %>
  
  <%= link_to followers_user_path(@user), class: "col-6" do %>
    <strong id="followers">
      <%= @user.followers.count %>
    </strong>
    ふぉろわー
  <% end %>
</div>
